.header-container {
    //display: flex;
    width: 100%;
    text-align: center;

  .site-title {
      display: block;
      font-weight: normal;
      text-transform: uppercase;
      color: #F2FCFE;
  }

    
    
}