.main-nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 3em;
    background-color:#F2FCFE;
    padding: .25em;

    .logo-image {
        width: 10%;
    }
    
    
    
}